[default]
ari_url   = 10.88.0.1:8088
ari_login = asterisk
ari_pass  = asterisk
log_level = DEBUG

;Time to store contact name in buffer dictionary. default = 60. To disable buffer set 0
contact_buffer_time_min = 30 

[googleApp]

;You can get your own appID via https://console.developers.google.com/
clientId 	 = 1013972153695-jk6nlf78lvse4ts16vqvc8h560mgdcdl
clientSecret = CjDHTSvpCN6KqVczHfBFvjZy

;To get accessCode goto 
;https://accounts.google.com/o/oauth2/auth?&redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=code&client_id=1013972153695-jk6nlf78lvse4ts16vqvc8h560mgdcdl&scope=https://www.googleapis.com/auth/contacts.readonly&approval_prompt=force&access_type=offline
;and confirm access to Google account contacts

[contact_default]
accessCode   = 4/ogGF2DDYPeYxMEIZCpRQmhvYJ11jCYIDnwzgqXeFUnk

[contact_888]
accessCode   = 4/5yqkQyrxodwgIDBF_FYrX6RKMmCwSKN2UmWXL-heJzY
contact_buffer_time_min = 1